
* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1440px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: unset;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figure, blockquote {
    margin: 0;
    padding: 0;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
    border: none;
}