@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders' as p;
@use 'sass:color';

.header__section {
    border-bottom: 1px solid v.$color__white;
    background-color: color.adjust(v.$color__white, $alpha: -0.85);
}

.header {
    padding: 0 10px;
    height: 50px;

    @include m.d-flex(space-between, center, nowrap, row, 0, 0);

    &__content {

        height: 50px;

        &-title {
            width: 255px;
            height: 100%;
            border-right: 1px solid v.$color__white;
            @include m.font(25px, 400, v.$color__white);
            @include m.d-flex(center, center, nowrap, row, 0, 0);
            @extend %hover-black;

        }
    }

    &__navigation {

        flex-grow: 1;

        .header__navigation-list {
            margin: 0 0 0 50px;
            @include m.d-flex(start, center, nowrap, row, 50px, 0);

            .header__navigation-link {
                @extend %hover-black;
                @include m.font(22px, 400, v.$color__white);
            }
        }

        @media (max-width:p.$media__lg) {
            .header__navigation-list {
                margin: 0 0 0 0;
                @include m.d-flex(center, center, nowrap, row, 50px, 0);
            }

            @include m.d-flex(center, center, nowrap, row, 0, 0);
        }

        @media (max-width:p.$media__md) {
            display: none;
        }
    }

    &__covid {
        height: 50px;
        @include m.d-flex(center, center, nowrap, row, 20px, 0);
        @include m.font(16px, 700, v.$color__white);

        &-title {
            
            @extend %hover-black;
            @include m.d-flex(center, center, nowrap, row, 20px, 0);
            width: 255px;
            height: 100%;
            
            border-right: 1px solid v.$color__white;
       
        }

        &-icon {
            @extend %hover-black-icon;
            width: 27px;
            height: 28px;
        
        } 
        @media (max-width:p.$media__md) {
                display: none;
            }
    }

}