@mixin d-flex($justify: center, $align: center, $wrap: nowrap, $direction: row, $column-gap: 0, $row-gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
    column-gap: $column-gap;
    row-gap: $row-gap;
}

@mixin font($size: 1rem, $weight: 500, $color: #ffffff) {
    font {
        size: $size;
        weight: $weight;
        style: normal;
    }

    color: $color;
}

@mixin position($position: relative, $zIndex: 1, $inset: -1, $top-or-bottom: top, $left-or-right: left, $value1: 0, $value2: 0) {
    position: $position;
    z-index: $zIndex;

    @if $inset >-1 {
        inset: $inset;
    }

    @else {
        #{$top-or-bottom}: $value1;
        #{$left-or-right}: $value2;
    }
}